*{
	margin: 0;
	padding: 0;
	font-family: "Poppins";
}

@font-face{
	font-family: "Poppins";
	src: url(../images/Poppins-Regular.ttf);
}

#icon{
	background-image: url("../images/Icon.png");
	background-size: 90px 80px;
	background-repeat: no-repeat;
	position: relative;
	width: 15.6vh; 
	height: 15.2vh;
	margin-left: 13.9vw;
}

nav{
	min-width: 100px;
	display: flex; 
	width: 100%;
	align-items: center;
}

nav ul{
	flex: 1;
	text-align: right;
	padding-right: 30px;
}

nav ul li{
	display: inline-block; 
	list-style: none; 
	margin: 4.56vw 3.26vw;
}

nav ul li a{ 
	text-decoration: none;
	position: relative;
	font-size: 14px;
}

nav ul li::after{
	content: '';
	width: 0;
	height: 3px;
	display: block;
	margin: auto;
	transition: width 0.3s;
}

nav ul li:hover::after{
	width: 50%;
}

footer{
	text-align: center;
	margin: 0 0 3.25vw 0;
	font-size: 14px;
}

.social-media {
  	padding: 1rem 0 0 0;
}

.socmed-icons {
  	display: flex;
  	width: 50%;
	height: 50px;
	margin: auto;
	justify-content: center;
  	align-items: center;
}

.socmed-icons a {
  	width: 35px;
  	height: 35px;
  	border-radius: 5px;
  	background: linear-gradient(to bottom, #1abc9c, #149279);
  	margin-right: 0.5rem;
  	transition: 0.3s;
}

.socmed-icons a:hover {
  	transform: scale(1.05);
}

#FB, #IG, #TG{
	background-image: url("../images/sprite.png");
	background-size: 150px;
	margin: 2px;
	width: 30px;
  	height: 30px;
}

#FB{
	background-position: -90px 0;
}

#IG{
	background-position: 0 0;
}

#TG{
	background-position: 31px 0;
}

